@media all {
  body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/pink%20dust.png");
  }
  table {
    margin: auto;
  }  
  td {
    font-size: 2vw;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
  }

  .masse {
    text-align: right;
    font-size: 1vw;
    font-weight: normal;
  }

  .nb {
    text-align: left;
    font-size: 1vw;
    font-weight: normal;
  }

  td.empty {
    background-color: transparent;
  }

  td.alkali {
    background-color: Pink;
  }

  td.metal {
    background-color: DarkSlateBlue;
    color: #ffffff;
  }

  td.tramsitionmetals {
    background-color: LightGrey;
  }

  td.othernonmetals {
    background-color: Orange;
  }

  td.posttransition {
    background-color: Tan;
  }

  td.nobelgases {
    background-color: Gold;
  }

  td.metalloids {
    background-color: Teal;
  }

  td.halogens {
    background-color: Olive;
  }

  td.lanthanoids {
    background-color: Wheat;
  }

  td.actinoids {
    background-color: Skyblue;
  }
}