ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin: auto;
  padding: 0;
  background-color: white;
}

ul li:hover ul {
  display: block;
}

li:hover ul li {
  float: none;
}

li ul {
  position: absolute;
}

ul li ul {
  display: none;
}

li a {
  display: block;
  width: 100px;
  color: black;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  color: gold;
}

ul li ul a {
  text-decoration: none;
  padding: 5px;
  color: Navy;
}

ul li ul a:hover {
  color: Maroon;
}
