body {
  background-color: #505050;
}

div {
  background-color: #909090;
  box-shadow: 8px 8px 6px black;
  border-radius: 10px;
}

div.top {
  position: absolute;
  top: 95px;
  left: 240px;
  height: 140px;
  width: 1420px;
}
div.picture {
  position: relative;
  top: 210px;
  left: 435px;
  height: 580px;
  width: 1015px;
}
