body {
  background-color: #505050;
}

p {
  font-size: 12pt;
  font-family: Verdana;
  margin: 0 0 0 0;
}

span.shadow {
  text-shadow: 4px 4px 4px #ff0000;
}

span.italic {
  font-style: italic;
  font-family: Verdana;
}

strong {
  font-size: 26pt;
  font-family: Georgia;
  font-weight: 100;
}

div {
  background-color: #909090;
  box-shadow: 8px 8px 6px black;
  border-radius: 10px;
}

div.top {
  position: absolute;
  top: 15px;
  left: 240px;
  height: 135px;
  width: 1420px;
}
.top-right {
  float: right;
  margin: 10px 10px 10px 10px;
  border-radius: 0;
  background-color: inherit;
  box-shadow: 0 0 0;
}

div.left {
  position: absolute;
  top: 170px;
  left: 265px;
  height: 425px;
  width: 140px;
}

div.picture {
  position: absolute;
  top: 170px;
  left: 435px;
  height: 585px;
  width: 1020px;
}

div.right {
  position: absolute;
  top: 170px;
  left: 1485px;
  height: 425px;
  width: 140px;
}

div.bottom {
  position: absolute;
  top: 682px;
  left: 192px;
  height: 160px;
  width: 500px;
  padding: 8px;
  background-color: #88ff89;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.repeat {
  background-repeat: repeat;
  background-image: url("./resources/brick.jpg");
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0;
  box-shadow: 0 0 0 ;
}
